// blue color
$dfp-color-dimblue: #0f377e;

/*dimblue*/

$dfp-color-darkblue: #1346a1;

/*darkblue*/

$dfp-color-shadeblue: #1755c4;

/*shadeblue*/

$dfp-color-tintblue: #1e65e5;

/*tintblue*/

$dfp-color-lucidblue: #87adf1;

/*lucidblue*/

$dfp-color-lightblue: #bcd1f7;

/*lightblue*/

$dfp-color-paleblue: #dfe9fb;

/*paleblue*/

$dfp-color-brightblue: #f1f5fd;

/*brightblue*/

// wheat color
$dfp-color-dimwheat: #845c11;
$dfp-color-darkwheat: #a77416;
$dfp-color-shadewheat: #c98c1a;
$dfp-color-tintwheat: #e3a228;
$dfp-color-lucidwheat: #f0cf90;
$dfp-color-lightwheat: #f7e6c4;
$dfp-color-palewheat: #fcf5e7;
$dfp-color-brightwheat: #fefcf8;
// tomato color
$dfp-color-dimtomato: #951700;
$dfp-color-darktomato: #bd1d00;
$dfp-color-shadetomato: #e42300;
$dfp-color-tinttomato: #ff310c;
$dfp-color-lucidtomato: #ff9582;
$dfp-color-lighttomato: #ffc7bd;
$dfp-color-paletomato: #ffe8e4;
$dfp-color-brighttomato: #fff9f8;
// dark hash color
$dfp-color-dimlead: #474747;
$dfp-color-darklead: #5c5c5c;
$dfp-color-shadelead: #707070;
$dfp-color-tintlead: #858585;
$dfp-color-lucidlead: #c2c2c2;
$dfp-color-lightlead: #e0e0e0;
$dfp-color-palelead: #f5f5f5;
$dfp-color-brightlead: #ffffff;
$dfp-color-lighthash: #f3f3f3;
$dfp-table-lg-padding-left: 260px;
$dfp-table-padding-top: 80px;
$dfp-table-sm-padding-left: 70px;